@import "variable.styl"
text {
  display: block;
}
//使用 image 可能导致样式生效较慢，出现 “闪一下” 的情况，设置 image{will-change: transform} ,可优化此问题
image {
  will-change: transform;
}
//loading组件外层
.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%
  background: rgba(0, 0, 0, 0.6);
}
//弹层外框
.layer-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%
  background: $color-dialog-background;
}
//弹框动画
.open-layer-an {
  animation: openLayerAn .5s ease .1s both;
}
.close-layer-an {
  animation: closeLayerAn .5s ease 0s both;
}
@-webkit-keyframes closeLayerAn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes openLayerAn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
//水平垂直居中
.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
//水平居中
.item-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
//垂直居中
.item-vertical {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
}
//隐藏滚动条
::-webkit-scrollbar {
  display: none;
}
.index-wrap {
  .van-notice-bar {
    padding-left: 30px;
    height: 30px;
  }
}
