// 颜色定义规范
$color-background = #F5F7FA;
$color-background-button = #456EFF;
$color-highlight-background = #333;
$color-dialog-background = rgba(0, 0, 0, 0.4);
$color-layer-background = rgba(0, 0, 0, 0.8);
$color-circular-background = #FF6964;
$color-tab-background = rgba(69, 110, 255, 0.1);
$color-theme-b = #212841;
$color-theme = #9195A1;
$color-sub-theme = #626779;
$color-text = #212841;
$color-number-text = #FFAB2B;
$color-button-text = #FFF;
$color-input-placeholder = #A5A8B2;
//字体定义规范
$font-size20 = 20rpx;
$font-size22 = 22rpx;
$font-size24 = 24rpx;
$font-size26 = 26rpx;
$font-size28 = 28rpx;
$font-size30 = 30rpx;
$font-size32 = 32rpx;
$font-size36 = 36rpx;
$font-weight-s = 400;
$font-weight-b = 500;
